$primary: #B721FF;
$secondary: #FF347C;
$white: #fff;
$grey-outline: #9b9c9d;
$grey-light: #e4e7e7;
$grey-bg: #6b6c6d;
$blue: #009CFF;
$red: #FF003F;
$card-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
